
#mo .popup-container{

    width: 100%;
    border-radius:0;
    max-height: 100%;
}
.profile-setting .cover form{
    width: 180px;
}
.select2-container .select2-selection--single{
    height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
display: none!important;
}
.select2-container--default .select2-selection--single{
    border: none!important;
    background: #f7f7fa;
    padding: 30px 20px;
    border-radius: 20px;
}
.select2-container--default .select2-selection--multiple{
    border: none!important;
    background: #f7f7fa;
    padding: 20px 20px;
    border-radius: 20px;
}
#topleft #usermenu a{
    display: inline-block;
}
#mo{
    width: 80%;
    margin: 0 auto;
}
#mo .shade{
    margin-bottom: 0;

}
.select2-container{
    width: 100%!important;
}
#er{
    padding: 30px;
    color: red;
    background: rgb(252, 225, 225);
    border: 1px solid red;
}
@media screen and (max-width: 1800px) {

}
#langs{
    float: left;
    color: #fff;
}
#langs ul{
    position: absolute;
    background: #fff;
    right: 173px;
    width: 150px;
    display: block;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    transition: all .3s;
    padding: 20px;
    bottom: 200px;
}

#langs:hover ul{
    display: block;
    /* bottom: -100px; */
    bottom: -100px;
}
.flag {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
#langs  li *{
   vertical-align: middle;
}
#langs  li a{
 padding: 0 10px;
 border-radius: 10px;
 display: inline-block;
 width: 100%;
}

#langs  li a:hover{
    background: #a1a0a0;
}
.w-320{
    width: 320px;
}

#teacher-clander .cond ul li .hour:last-child{
    display: block;
}

.pay-form .lang-listc .lang-list li {
    width: 100%;
    padding: 5px 15px !important;
  }
  .pay-form .lang-listc .lang-list li img {
    margin: 0 !important;
  }


  .bt,
.btr {
  box-sizing: border-box;
  padding: 18px 30px 15px 30px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  line-height: 1;
  color: #fff;
  background-color: #0EB582;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #0eb582;
  border-radius: 36px 36px 36px 36px;
  cursor: pointer;
}
.bt:hover,
.btr:hover {
  background: #fff;
  color: #0eb582;
}

.btr {
  background: #fff;
  border: 2px solid #eceff4;
  color: #7b94ab;
  transition: all 0.3s;
}
.btr:hover {
  border: 2px solid #0eb582;
  color: #0eb582;
}
#sidefilter .filter-wdiget .choose-language .lang-select label .left span.top
{
    bottom:-11px;
    left: 10px;
}
#sidefilter .filter-wdiget .choose-language .lang-select label{
    height: 51px;
}

#teacherpish .pay_s{
    text-align: center;

}
