#mo .popup-container {

    width: 100%;
    border-radius: 0;
    max-height: 100%;
}

.profile-setting .cover form {
    width: 180px;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none !important;
}

.select2-container--default .select2-selection--single {
    border: none !important;
    background: #f7f7fa;
    padding: 30px 20px;
    border-radius: 20px;
}

.select2-container--default .select2-selection--multiple {
    border: none !important;
    background: #f7f7fa;
    padding: 20px 20px;
    border-radius: 20px;
}

#topleft #usermenu a {
    display: inline-block;
}
#filter_t {
    display: none;
}
#mo {
    width: 80%;
    margin: 0 auto;
}

#mo .shade {
    margin-bottom: 0;

}
.register-form{
    width: 600px;
    margin: 0 auto;
}
.select2-container {
    width: 100% !important;
}
.flag{
    vertical-align: middle;
}
.active_l{
    background: #e1e1e1;
}
#sidefilter .filter-wdiget .choose-language{
    padding: 0;
}
#sidefilter .filter-wdiget .price{
    padding: 10px;
}
#sidefilter .filter-wdiget .madrak{
    padding: 0;
}
#sidefilter .filter-wdiget .point{
    padding: 0;
}
#er {
    padding: 30px;
    color: red;
    background: rgb(252, 225, 225);
    border: 1px solid red;
}
#sidefilter .filter-wdiget .show label .left{
    margin-right: 0;
}
#sidefilter{
    overflow: auto;
    padding:  0 20px;
}
#sidefilter .filter-wdiget .show label .right{
    font-size: 14px;
}
.fla{
    width: 50px;
    border-radius: 50%;

}
.max-w{
    max-width:100%
}
.single-teacher{
padding: 15px 15px;
}
.popup-container .button-container.reight .butt, .popup-container .button-container.reight .button{
    text-align: center;
    min-width: 130px;
    border-radius: 5px;
}
.input-container.fill .text, .input-container.fill select, .input-container.fill input{
    border-radius: 5px;
}
.profile-setting .sex li label{
    border-radius: 5px;
}
.video-setting{
    padding: 30px;
}
.teacher-pricing .widget-content form{
    margin-bottom: 0;
}
.resume-setting{
    padding: 10px 15px;
}
#teacher-clander .cond > ul li{
    width: 14%;
}
#teacher-clander .cond ul li .hour{
    height: 23px;
}
#teacher-clander .cond .owl-nav{
    top: -27px;
}
#teacher-clander .right li{
    height: 31px;
}
#teacher-clander .right li {
    margin-bottom: 35px;
}
#teacher-clander .cond .owl-nav .owl-next{
    line-height: 0;
}
#teacher-clander .right {
    margin-top: 77px;
}
.greeen_l{
    color: #90ca90;
    font-size:20px;
}
#article-from{
    padding-bottom: 0;
}
.pay-form{
    padding: 20px 30px;
}
.widget-content{
    padding: 20px;
}
.single-article-ad {
    padding-bottom:10px;
    margin-bottom:10px;
}
.noclass{
    padding: 10px 0;
}
.singl-statis{
    padding: 10px 15px;
}
#lang{
    padding: 0;
}
.input-container.fill{
    margin-bottom: 10px;
}
.single-article-ad .right .date:after{
    left: 0;
}
.button-container .butt,.select2-container--default .select2-selection--single, .button-container,.bt, .btr, .button,.single-article-ad .left ul li.del-link span, .single-article-ad .left ul li.edit-link span,.input-container.fill textarea,.single-article-ad .left ul li a{
    border-radius: 5px!important;;

}
.single-article-ad .right .pic img{
    width: 130px;
}
.mb3{
    margin-top: 10px;
}
.teacher-det{
    padding: 0!important;;
}
.teacher-pricing .widget-content{
    padding-top: 0;
}
.table-responsive *{
    text-align: left!important;;
}
.txt_left{
    text-align: left;
}
.input-container.fill label{
    margin-bottom: 0;
}
#sidefilter{
    width: 280px;
}
.statbox{
    padding: 10px;
}
@media screen and (max-width: 1100px) {
    .teacher-pricing img{
        display: none!important;;
    }
}
@media screen and (min-width: 1300px) {
    .draggable {
        margin-top: 60px;
    }

}
@media screen and (max-width: 800px) {

    .d_f{
        display: flex;
        justify-content:space-between
    }
    .statbox{
       width: 200px;
    }
    .register-form .input-container{
        margin-bottom: 30px;
    }
    .register-form{
        width: 100%;
        box-sizing: border-box;
    }
    #sidefilter{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        transition: all .3s ;
        transform: translateX(-350px);
    }
    #filter_t{
        display: block;
        position: fixed !important;
        left: 30px;
        top: 120px;
        z-index: 99999999999999;
    }
    .filter_out #sidefilter{
        transform:  translateX(-20px)!important;;

    }
}
@media screen and (max-width: 600px) {
    #sideteachernav{
        display: none!important;
    }
    #header{
        position: sticky;
    }
    #langs,#usermenu{
        display: none;
    }
    .dot3{
        display: none;

    }
}
#sideteachernav{
    width: 250px;
}

#sideteachernav .pishkhan-nav li a {
    font-size: 15px;
    padding: 0 30px;
}
/* .simplebar-content{
    display: flex;
} */
#sideteachernav .pishkhan-nav li.active a:before{
    height: 37px;
    width: 63px;
}
#sideteachernav .pishkhan-nav li {
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.chat {
    display: flex;
}
#sidefilter .filter-wdiget{
    margin-bottom: 10px;
}
#sidefilter .filter-wdiget .ftitle{
    margin-bottom: 10px;
}
#sidefilter .filter-wdiget .choose-language .lang-search{
    margin-bottom: 10px;
}
.chat.is-me {
    justify-content: flex-end;
}
.chat-meta{
    font-size: 10px;
}
#teacher_ab_form label.key .right{
    float: left!important;
}
#teacher_ab_form label.key .left{
    float: right!important;
}
.expert-form .lable-container{
    background: #f3f3f357;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px 30px;
}
@media screen and (max-width: 1800px) {}

#langs {
    float: left;
    color: #fff;
}

#langs ul {
    position: absolute;
    background: #fff;
    right: 173px;
    width: 150px;
    display: block;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    transition: all .3s;
    padding: 20px;
    bottom: 200px;
}

#langs:hover ul {
    display: block;
    /* bottom: -100px; */
    bottom: -100px;
}

.flag {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

#langs li * {
    vertical-align: middle;
}

#langs li a {
    padding: 0 10px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
}

#langs li a:hover {
    background: #a1a0a0;
}
.calendar-guide{
    padding-bottom: 0;
}
.teacher-guide{
    margin-bottom: 45px;
}
.w-320 {
    width: 150px;
    margin: 0 10px;
}

#teacher-clander .cond ul li .hour:last-child {
    display: block;
}

.pay-form .lang-listc .lang-list li {
    width: 100%;
    padding: 5px 15px !important;
}

.pay-form .lang-listc .lang-list li img {
    margin: 0 !important;
}


.bt,
.btr {
    box-sizing: border-box;
    padding: 18px 30px 15px 30px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    line-height: 1;
    color: #fff;
    background-color: #0EB582;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #0eb582;
    border-radius: 36px 36px 36px 36px;
    cursor: pointer;
}

.bt:hover,
.btr:hover {
    background: #fff;
    color: #0eb582;
}

.btr {
    background: #fff;
    border: 2px solid #eceff4;
    color: #7b94ab;
    transition: all 0.3s;
}

.btr:hover {
    border: 2px solid #0eb582;
    color: #0eb582;
}

#sidefilter .filter-wdiget .choose-language .lang-select label .left span.top {
    bottom: -11px;
    left: 10px;
}

#sidefilter .filter-wdiget .choose-language .lang-select label {
    height: 51px;
}

#teacherpish .pay_s {
    text-align: center;

}

.hour.open {

    text-align: center;
}

#teacher-clander .con ul li .hour .buto {
    line-height: 31px !important;
}

.popup-container span.close {
    z-index: 999999999999999999;
}

.posre {
    position: relative;
}

.popup-container .button-container.reight {
    padding-top: 0 !important;
}

.bank-text {
    padding-top: 20px;
}

.cover_im {
    object-fit: cover;
    /* height: 800px; */
}

.fl {
    position: relative;
}

.fl input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.red{
    color: red !important;
}
video[poster]{
   object-fit: cover;
    }
    video{
        object-fit: inherit;
     }
.fl label {
    line-height: 40px;
    border: 2px solid #0eb582;
    display: block;
    border-radius: 22px;
    padding: 0 15px 0 70px;
    position: relative;
}

.fl label span {
    line-height: 36px;
    padding: 0 10px;
    border-radius: 18px;
    color: #fff;
    background: #0eb582;
    position: absolute;
    left: 2px;
    top: 2px;
    cursor: pointer;
    text-align: center;
}

.clr {
    width: 100%;
    height: 40px;
    clear: both;
}

.acb{
    color: #17b666;
    display: inline-block;
    font-size:20px;
}
.nextstep {
    clear: both;
    overflow: hidden;
    padding: 10px 130px 12px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  .fl label{
    padding: 0 15px 0 110px!important;
  }
  .tick .pay-form{
    padding: 20px;
  }
  .w-90{
    width: 90%;
  }
  .lg50{
    height: 50px;
    overflow: visible!important;;
  }
  .btn-atta{
    position: absolute;
    right: 20px;
    top: 18px;
  }
  .pos_re{
    position: relative;
  }
  .chat {
    margin-bottom: 30px;
  }
  .mb-1{
    margin-bottom: 1rem;
  }
  .mb-2{
    margin-bottom: 2rem;
  }
  .mb-3{
    margin-bottom: 3rem;
  }
  .d-flex{
    display: flex;

  }
  .simplebar-content{
    padding: 30px;
    box-sizing: border-box;
  }
  .chat-meta li{
    margin-left: 30px;

  }
  .chat-bubbles {

    margin-left: 30px;

  }
  .sden_e{
    margin-left: 20px;
  }
  .align-items-center{
    align-items: center;
  }
  .justify-content-center{
    justify-content: center;

  }
  .chat-avatar .user-avatar{
    width: 50px;
  }
  .user-card{

  }
  .user-avatar img{
    width: 100px;
    border-radius: 50%;
    padding: 10px;
  }
  .nextstep .left {
    float: left;
    padding-top: 46px;
  }
  .nextstep .left img {
    width: 96px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 3px 20px rgba(70, 94, 174, 0.1);
    box-shadow: 0px 3px 20px rgba(70, 94, 174, 0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  }
  .white{
    color: #fff;
  }
  .nextstep .eteb {
    margin-bottom: 0px;
    text-align: right;
  }
  .nextstep .eteb li {
    display: inline-block;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    line-height: 75px;
    margin-bottom: 1px;
  }
  .nextstep .eteb li.ico {
    font-size: 15px;
    font-weight: normal;
  }
  .nextstep .eteb li.ico i {
    font-size: 24px;
    margin-left: 13px;
    position: relative;
    color: #889aaf;
    font-weight: normal;
  }
  .nextstep .etmen {
    text-align: right;
    margin-bottom: 20px;
  }
  .nextstep .etmen li {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 11px;
  }
  .nextstep .etmen li span {
    width: 160px;
    position: relative;
  }
  .nextstep .etmen li span i {
    font-size: 19px;
    color: #fff;
    position: absolute;
    right: 28px;
    bottom: 14px;
    top: unset;
    line-height: 20px;
    height: 20px;
  }
  .nextstep .etmen li .gray span i {
    color: #889aaf;
  }

#header .login a span {
    display: inline-block;
    vertical-align: middle;
  }
  #header .login a span svg {
    display: inline-block;
    vertical-align: middle;
  }
  #header .login a:hover {
    color: #0c9d71;
  }
  #header .login div.drop {
    position: absolute;
    background: #FFFFFF;
    box-shadow: -21px 40px 60px rgba(64, 100, 155, 0.13);
    border-radius: 20px;
    width: 208px;
    min-height: 100px;
    top: 90px;
    right: 10px;
    line-height: 40px;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
  }
  #header .login div.drop a {
    color: #202020;
    display: block;
    padding: 0 10px;
  }
  #header .login div.drop a:hover {
    color: #0c9d71;
  }
  #header .login div.drop:before {
    content: "";
    width: 48px;
    height: 48px;
    background: #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -24px;
    top: -4px;
    z-index: -1;
    box-shadow: 0 0 4px rgba(64, 100, 155, 0.08);
    border-radius: 5px;
  }
  #header .login:hover div.drop {
    top: 70px;
    visibility: visible;
    opacity: 1;
  }
